<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Courses app</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#each routes}}
        {{#with this}}
          <li><a href="{{path}}" title="{{title}}">{{name}}</a></li>
        {{/with}}
      {{/each}}
    </ul>
  </div>
</nav>
